In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('DEPARTAMENTOS.csv')

In [8]:
print(data.shape)

(9331, 17)

In [11]:
print("\n".join(data.columns))

CODIGO
DISTRITO
DEPARTAMENTO
MUNICIPIO
ESTABLECIMIENTO
DIRECCION
TELEFONO
SUPERVISOR
DIRECTOR
NIVEL
SECTOR
AREA
STATUS
MODALIDAD
JORNADA
PLAN
DEPARTAMENTAL

In [13]:
data.info()
data.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9331 entries, 0 to 9330
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           9331 non-null   object
 1   DISTRITO         9123 non-null   object
 2   DEPARTAMENTO     9331 non-null   object
 3   MUNICIPIO        9331 non-null   object
 4   ESTABLECIMIENTO  9331 non-null   object
 5   DIRECCION        9280 non-null   object
 6   TELEFONO         8792 non-null   object
 7   SUPERVISOR       9122 non-null   object
 8   DIRECTOR         8434 non-null   object
 9   NIVEL            9331 non-null   object
 10  SECTOR           9331 non-null   object
 11  AREA             9331 non-null   object
 12  STATUS           9331 non-null   object
 13  MODALIDAD        9331 non-null   object
 14  JORNADA          9331 non-null   object
 15  PLAN             9331 non-null   object
 16  DEPARTAMENTAL    9331 non-null   object
dtypes: object(17)
memory usage: 1.2+ MB

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
count,9331,9123,9331,9331,9331,9280,8792,9122,8434,9331,9331,9331,9331,9331,9331,9331,9331
unique,9331,690,23,349,5320,6001,5463,658,4677,1,4,3,4,2,6,13,26
top,19-01-0078-46,01-403,CIUDAD CAPITAL,ZONA 1,INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA,CABECERA MUNICIPAL,22067425,CARLOS HUMBERTO GONZALEZ DE LEON,---,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,DOBLE,DIARIO(REGULAR),GUATEMALA NORTE
freq,1,268,1564,633,333,271,21,333,83,9331,7956,7606,6545,9039,3037,5721,1050